extends layout_

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Edit #{name} Account Information

        // edit form
        form(method='POST' action='/edit_account')
          div.form-group
            label(for='first_name') First Name:
              textarea(id = 'firstname', name = 'firstname', rows=1).form-control
                | #{firstname}
          div.form-group
            label(for='last_name') Last Name:
              textarea(id = 'lastname', name = 'lastname', rows=1).form-control
                | #{lastname}
          div.form-group
            label(for='address') Address:
              textarea(id = 'address', name = 'address', rows=1).form-control
                | #{address}
          div.form-group
            label(for='city') City:
              textarea(id = 'firstname', name = 'city', rows=1).form-control
                | #{city}
          div.form-group
            label(for='state') State:
              textarea(id = 'firstname', name = 'state', rows=1).form-control
                | #{state}
          div.form-group
            label(for='zip') Zip Code:
              textarea(id = 'firstname', name = 'zip', rows=1).form-control
                | #{zip}
          button.btn.btn-primary(type='submit') Save Changes
        
