
extends layout_

block content
  .main.container.clearfix
    .row
      .card
        .container
            style.

            h1(align='center') Welcome #{fname}!
            
            a(href="/refer")
              button(type="button", value='Add Referrals', style='float: left;') Add Referrals
            a(href="/logout")
              button(type="button", value='Logout', style='float: right;') Logout
            
            h2(align='center') Account Information:
              br 
              br
              
              p(align='center')
                label #{name} #{lname}
              p(align='center')
                label #{address1}
              p(align='center')
                label #{city}, #{state} #{zip}
              p(align='center')
                label #{email}
            h3(align='center')
              a(href="/edit_account")
                button(type="button", value='Edit Account Information', style='float: center;') Edit Account Information
