extends layout_

block variables
  - var totalQuestions = 10

block content
    form(method="POST")
        .content
        input(type="hidden", value=Id, name="formId")
        div.span4#headerText
        h3 How well you know #{userName}?
        p Start by entering your name, #{userName} can know who knows them best.

        input(type="text", name="responseBy", required).form-control.input-lg

        h4 Questionnaire
        - for (var q = 0; q < totalQuestions; q++) {
         - var question = questions[q];
         - var questionName = "question" + (q + 1);
         div
             h4 
                b Question 
                span.
                    !{question.statement}
             div.span4
                div.row
                - for (var o = 1; o <= 4; o++) {
                    div.col-md-3.col-sm-3.col-lg-3
                        div.form-group
                            div.radio
                            label.control-label.radio-inline
                                input(type="radio", name=questionName, value=question.id + "," + o, required, id=questionName + o)
                                span. 
                                    !{question["option" + (o)]}
                            br
                - }
        - }
        
        div.span4#Submitbutton
        button(type="submit").btn.btn-default Submit
        
        br
        br
        em By submitting you confirm that you have read and agree to 
            a(href="/policy") the terms and policies of privacy
            span.
                . Do not share passwords, credit card information or other sensitive information through these forms.
